# This is a basic workflow to help you get started with Actions

name: HACE EPGs

# Controls when the workflow will run
on:
  schedule:
    # Runs twice a day
    - cron: "0 0,12 * * *"
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: python epg-grabber/getEpgs.py

      - name: Force commit and push the changes (no history)
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "actions@github.com"
          git add epg.xml epg.xml.gz
          git commit -m "Update EPG"
          git push --force # Force push to overwrite the previous commit
